/* print me! */

#header {display:none;}
#headline {display:none;}
#mainbody {}
	.two-sidebars #mainbody_content,
	.sidebar-left #mainbody_content,
	.sidebar-right #mainbody_content,
	.no-sidebars #mainbody_content,
	#drupalui_2 #mainbody_content,
	#mainbody_content {width:100%;}
	#sidebars,
	.block {display:none;}
/* footer */
	.go_top {display:none;}
	.bottom_menu {display:none;}