/*------------------------------------------------------------------------
# Copyright (C) 2004-2008 drupalUI Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: drupalUI Co., Ltd
# Websites:  http://www.drupalUI.com
# This file may not be redistributed in whole or significant part.
# ------------------------------------------------------------------------
# Theme Name: drupalui | Version: 1.0 (May-2009)
-------------------------------------------------------------------------*/


/* css reset
**************************************************/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/*		css common
**************************************************/
body {
	font-family: Verdana, Arial, sans-serif;
	font-size:81.25%; /* = 13px */
}


*:hover {outline:dotted 1px red;} /* css debug */
div:hover {outline:dotted 1px blue;} /* css debug */

a:link, a:visited {
  color: #027AC6;
  text-decoration: none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

a:active, a.active {
  color: #5895be;
}

h1 {font-size:1.8461em;} /*24px*/
h2 {font-size:1.5384em;} /*20px*/
h3 {font-size:1.6923em;} /*18px*/
h4 {font-size:1.3846em;} /*16px*/
h5 {font-size:1.0769em;} /*14px*/
h6 {font-size:0.9230em;} /*12px*/

p {line-height:160%;}	


table {
	width:100%;margin-top:20px;
}
thead th {	
	font-weight:bold;
	background:#CBE4F0;
	border-bottom:3px solid #75B3DB;
}

tr.even, tr.odd{ 
	background-color:#fff;
	border-bottom:1px solid #eee;
	line-height:24px;
}
tr:hover {
	background-color:#FDDDFF;
}
fieldset {
	border:solid #A2D2EA 1px;
	padding: 1em;
}
legend {}

li.collapsed ,
li.leaf {
	padding:0;
}

/* Layout
**************************************************/
.header_inner,.headline_inner,
.mainbody_inner,.footer_inner {width:960px;margin:0 auto;}

#header {
	background:url(../images/blue/header_bg.png) repeat-x;
	height:73px;
}

#header a {outline:none;}
	.logo  {
		background:url(../images/blue/logo.png) no-repeat;
		float:left;
		width:auto;
		z-index:10;
	}
	.logo h1 a {
		background: url(../images/blank.png) no-repeat  left top; /* x25=??? */
		display:block;
		width:165px;height:70px;
	}
	.logo h1 a span {
		text-indent:-9999px;
		display:block;
	}
	
	/* top menu */
	ul.links li {
		padding:0px;
	}

	.primary-links {	
		width:795px;height:70px;
		float:right;
		overflow:hidden;
	}
	.primary-links li{
		float:right;width:auto;
	}
	.primary-links li  a{
		font-size:1.3846em; /*18px*/
		color:white;
		line-height:70px;
		display:block;
		padding: 0 20px;
	}

	ul.primary-links li  a:hover,
	ul.primary-links li   a.active{
		background:url(../images/blue/menu_hover.png) repeat-x;
		text-decoration:none;
	}
	
#headline {
	background-color:#CBE4F0;
	border-bottom:solid 1px #85BDD7;	
	margin-bottom:20px;
}
	/* jquery easy slider */
	#slider{}	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{ 
		width:960px;
		height:241px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		top:150px;
		}	
	#nextBtn{ 
		left:1150px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		outline:none;
		width:30px;
		height:77px;
		text-indent:-999999px;
		background:url(../js/easyslider/images/btn_prev.gif) no-repeat 0 0;			
		}	
	#nextBtn a{ 
		background:url(../js/easyslider/images/btn_next.gif) no-repeat 0 0;	
		}	
#mainbody {clear:both;}
.mainbody_inner {padding-bottom:20px;}
.body_content {padding-bottom:20px}
/* >>>>> theme switch :P <<<<< */

	/* theme switch: 2 sidebars */
	.two-sidebars #mainbody_content {
		width:566px;
		float:left;
	}

	#drupalui_1.two-sidebars .mainbody_content_inner {padding-right:20px;}
	#drupalui_2.two-sidebars .mainbody_content_inner {padding-left:20px;}
	
	.two-sidebars #sidebars {
		width:394px;
		float:right;
	}
	
	/* theme switch: left or right sidebars */
		
	.sidebar-left #mainbody_content,
	.sidebar-right #mainbody_content {
		width:768px;
		float:left;
	}
	#drupalui_1.sidebar-left .mainbody_content_inner,
	#drupalui_1.sidebar-right .mainbody_content_inner {padding-right:20px;}

	#drupalui_2.sidebar-left .mainbody_content_inner,
	#drupalui_2.sidebar-right .mainbody_content_inner {padding-left:20px;}
	
	.sidebar-left  #sidebars,
	.sidebar-right  #sidebars {
		width:192px;
		float:right;
	}
	/* theme switch: 0 sidebars */
	.no-sidebars #mainbody_content {width:100%;}
	.no-sidebars .mainbody_content_inner {padding-right:0px;}
	
	/* body layout: sidebars - content */
	#drupalui_2 #mainbody_content {float:right;width:768px;}
	#drupalui_2 #sidebars {float:left;width:394px;}
/* >>>>> end theme switch :) <<<<< */

		.sidebarsfull {
			width:100%;
		}
		.leftcol {			
			width:192px;
			float:left;
		}
		.rightcol {			
			width:192px;
			float:right;
		}
		.sidebarsfullbot {
			width:100%;
			clear:both;
		}
			
#footer {
	clear:both;
	background:#ffffff url(../images/footer_bg.png) repeat-x;
	border-top:solid 1px #CCCCCC;
	font-size:0.9230em; /*12px*/
}
	.footer_inner {padding-bottom:12px;}
	.bottom_menu {
		width:130px;
		float:left;
		margin-top:16px;
		margin-bottom:20px;
	}
	.bottom_menu h5{padding-bottom:6px;}
	.bottom_menu ul li a{	
		padding:4px 0;
	}
	.bottom_menu a {font-size}
	.bottom_menu li a.active {
		color:#1E92D1;
	}
	.bottom_menu ul.menu li {
		margin:0;
	}
	.bottom_menu li.leaf {
		list-style-image:none;
		list-style-type:none;		
		padding:0;
	}
	
	.copyright {
		border-top:solid 1px #DEDEDE;
		clear:both;

	}
	.copyright p{		
		width:90%;
		float:left;
		height:26px;
		line-height:26px;
	}
	.go_top {
		float:right;
		width:10%;
		text-align:right;
		display:block;
	}
	.drupallogo {
		background:url(../images/drupallogo.gif) no-repeat 85% 0;
	}

/* node
**************************************************/
.node  {
	padding-bottom:20px;
}
.node  h2 {
	font-size:1.3846em;
	line-height:22px;
}
.node  .meta  .submitted {
	font-size:0.8461em; /*11px*/
	color:#7A7A7A;
}
/*.terms {}*/
.node  .content {
	padding:10px 0;
	clear:both;
}
.node  ul.links  {
	float:right;
	width:auto;
}

/* blocks
**************************************************/
.block  {
	border:solid 1px #DEDEDE;
	border-top:solid 2px #006DA1;
	margin-bottom:20px;
}
.block  h2{
	border-bottom:solid 1px #DEDEDE;
	padding:6px;
	font-size:1.2307em; /*16px*/
}

.block  .content{
	padding:4px 8px;
}

#headline .block,
#headline .block h2{border:none;}

/* block content */
.block ul li {}
.block ul li  a{
	display:block;
	padding:2px 0;
	border-bottom:dotted 1px #E2E2E2;
}
.block ul li  a:hover{
	
}

/* comment
**************************************************/
.comment {
	border:solid 1px #DBDBDB;
	margin:16px 0;
	padding:10px;
	-moz-border-radius-bottomleft:10px; /* css3 ! */
	-moz-border-radius-bottomright:10px; /* css3 ! */
	-moz-border-radius-topleft:10px; /* css3 ! */
	-moz-border-radius-topright:10px; /* css3 ! */
}
.comment h3{
	font-size:1.0769em; /*14px*/
}
.comment .submitted {
	font-size:0.8461em; /*11px*/
	color:#ABABAB;
}
.comment .content{
	padding:10px 0;
}
.comment ul.links{
	float:right;
	width:auto;
}

/* pager
**************************************************/
.item-list  {}
.item-list .pager li.pager-current {border:solid 1px #E36262;padding:8px;}
li.pager-first a,
li.pager-previous a,
li.pager-item a,
li.pager-next a,
li.pager-last a {
	padding:8px;
	border:solid 1px #DEDEDE;
}
li.pager-first a:hover,
li.pager-previous a:hover,
li.pager-item a:hover,
li.pager-next a:hover,
li.pager-last a:hover {
	padding:8px;
	border:solid 1px #66A0D9;
}
.item-list .pager li {
	padding:2px;
}


/* forum
**************************************************/
#forum {}
#forum ul.links li a{
	font-weight:bold;
	float:right;
	width:auto;
}
#forum table{
	margin-top:16px;
	clear:both;
}
#forum  .container{
	background:url(../images/blue/container_bg.png) repeat-x;
}
#forum  .container .name a{
	color:white;
	font-size:16px;
	text-transform: uppercase;
}
#forum .container .description{}
#forum tr.even, #forum tr.odd {
	background:#DEECF3;
	border-bottom:1px solid #2487C6;
}
#forum tr:hover {
	background:#FFFBD6;
}

/* poll
**************************************************/
.poll .bar {
	border:solid 1px #66A0D9;
	background-color:#ffffff;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#66A0D9;
}

/* message, note, warning....
**************************************************/
.messages {
	border: solid #88C668 1px;
	background-color:#C3EFAD;
	padding: 1em;
}
.help {
	padding: 1em;
	border: 1px #D7D7D7 dotted;	
}
.note {
	background: #dfd; 
	padding: 1em;
	border-top: 1px #87D487 dotted; 
	border-bottom: 1px #87D487 dotted;
}
.important {
	background: #ffd; 
	padding: 1em; 
	border-top: 1px #C5C56D dotted; 
	border-bottom: 1px #C5C56D dotted;
}
div.warning, tr.warning {
	background: #fdd;
	padding: 1em; 
	border-top: 1px #CC8080 dotted; 
	border-bottom: 1px #CC8080 dotted;
}
.description {
	font-size:1em;
}

/* other
**************************************************/
.item-list h3 {
	font-size:1em;
	font-weight:bold;
	padding-top:10px;
}
 
.item-list ul li {
	margin:0 0 0.25em 0px;
}

/* admin theme */
/*#system-themes-form,*/
.form-submit {
	margin-bottom:20px;
}

/* clearfix
** This needs to be first because FF3 is now supporting this
**************************************************/
.clearfix {display: inline-block;}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */