﻿/* $Id$ */

/* gallery layout
**************************************************/
.body_content {
	
}

.body_content li { list-style: none; }
/* gallery style
**************************************************/

.body_content ul{}

.body_content  li{
	width:220px;
	float:left;
	margin:30px 10px 0px 10px;	
	padding-bottom:30px;
	border-bottom:solid 3px #ccc;
}
.body_content  li:hover{
	background:#F0F9FF;
}
.body_content li h2{
	font-size:1.1666em;
	font-weight:bold;
	margin-bottom:-17px;
}
.body_content .date {
	text-align:right;
	padding-bottom:10px;
}
.body_content .screenshot {}
.body_content .demo {
	text-align:right;
	margin-top:-15px;
}

