﻿/* $Id$
	theme gallery details page
*/

.theme_item  {
	padding-top:20px;
}
.theme_item .theme_image {
	width:28%;
	float:left;
}
.theme_item  .theme_image img{
	padding:6px;
	border:solid 1px #ccc;
}
.theme_item ul {
	float:right;
	width:72%;
}
.theme_item  li {	
	font-size:1em;
	line-height:22px;
	padding-left:50px;
}
.theme_item  li span{
	font-weight:bold;	
}
/*
.theme_item .theme-name{}
.theme_item .theme-version{}
.theme_item .theme-date{}
.theme_item .theme-demo{}
.theme_item .theme-tags{}
.theme_item .theme-rattings{}
*/
.theme_item .theme-details {clear:both;padding-top:20px;}


.theme_item ul.links {
	float:none;
	width:auto;
}

.clear {clear:both;}