﻿/* $Id$ 
	Suckerfish Menu :P
*/

/* clear the block */
#suckerfish {
	width:auto;height:70px;
}
#suckerfish .block {margin:0; padding:0;border:none;}
#suckerfish .block h2 {display:none;}
#suckerfish .block .content {	padding:0;}

/* layout */

#suckerfish, #suckerfish ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}
#suckerfish a {
	display: block;
	/*width: 10em;
	w\idth: 6em;*/
}
#suckerfish li {
	float: left;
	/*width: 10em;*/
}
#suckerfish li ul {
	position: absolute;
	left: -999em;
	width: 169px;

	height: auto;
	/* w\idth: 155px;*/
	margin: 0;
}

#suckerfish li li {
	padding-right: 1em;
	width: 154px;
}

#suckerfish li ul a {
	width: 154px;
	w\idth: 127px;
}

#suckerfish li ul ul {
	margin: -29px 0 0 167px;
}
	/* 4 level menu */
#suckerfish li:hover ul ul,
#suckerfish li:hover ul ul ul,
#suckerfish li:hover ul ul ul ul,
#suckerfish li.sfhover ul ul,
#suckerfish li.sfhover ul ul ul,
#suckerfish li.sfhover ul ul ul ul {
	left: -999em;
}
#suckerfish li:hover ul,
#suckerfish li li:hover ul,
#suckerfish li li li:hover ul,
#suckerfish li li li li:hover ul,
#suckerfish li.sfhover ul,
#suckerfish li li.sfhover ul,
#suckerfish li li li.sfhover ul,
#suckerfish li li li li.sfhover ul {
	left: auto;
}

/* style */
/* #5F5F5F - light */
/* #484848 - bg */
/* #474747 - dark */

#suckerfish,
#suckerfish ul {
	float: right;
}

/* level 0 - general */
#suckerfish ul li a {
	border:none;
}
#suckerfish a {
	color:#fff;
	text-decoration: none;
	padding: 0 20px;
	font-size:1.3846em;
	font-family:Verdana, sans-serif;
}
#suckerfish li ul a {
	color:#aaa;
}
#suckerfish a:hover {
	color: #99DDFF;
}
#suckerfish li.expanded { /* daddy */
	background:#4C97C5 url(../../images/dot.png) no-repeat center right no-repeat;
}

#suckerfish li:hover,
#suckerfish li.sfhover {
	background: #474747;
}
#suckerfish li ul a{
	font-weight: normal;
}
#suckerfish li ul li.active-trail {
	background:#5F5F5F;	
}

/* level 1*/
#suckerfish ul li {
	height:70px;
	list-style:none;
	line-height:70px;
	text-align:center;
}
#suckerfish ul li.active-trail,
#suckerfish ul li:hover {
	background:url(../../images/blue/menu_hover.png) repeat-x 0 0;
}

/* level 2*/
#suckerfish li ul li:hover {
	background: #474747;
}
#suckerfish  li ul li{
	text-align:left;
}
#suckerfish ul ul{
	background:#484848;
}
#suckerfish ul ul li a,
#suckerfish ul ul li{
	height:28px;
	line-height:28px;
}
/* level 3*/
/* level 4*/

/* clear default drupal style */
li.expanded {
	padding:0;
}
ul.menu li {
	margin:0;
}

#suckerfish ul ul li,
#suckerfish ul ul ul li,
#suckerfish ul ul ul ul li {
	border-bottom:solid 1px #3B3B3B;
	border-right:solid 1px #3B3B3B;
	border-left:solid 1px #5F5F5F;
	border-top:solid 1px #5F5F5F;
	line-height:28px;
}