/* suckerfish style */
/* #7AAECF - light */
/* #4D98C7 - bg */
/* #276F9C - dark */
/* #175C88 - dark 2 +*/
#suckerfish li ul a {
	color:#fff;
}
#suckerfish a:hover {
	color: #fff;
}
#suckerfish li:hover,
#suckerfish li.sfhover {
	background: #276F9C;
}
#suckerfish ul ul{
	background:#4D98C7;
}
#suckerfish li ul li.active-trail {
	background:#7AAECF;	
}
/* level 2*/
#suckerfish li ul li:hover {
	background: #276F9C;
}
#suckerfish ul ul li,
#suckerfish ul ul ul li,
#suckerfish ul ul ul ul li {
	border-bottom:solid 1px #175C88;
	border-right:solid 1px #175C88;
	border-left:solid 1px #7AAECF;
	border-top:solid 1px #7AAECF;
	line-height:28px;
}