/* gray color */
/* common */
a:link, a:visited {
  color: #AA0505;
  text-decoration: none;
}

a:hover {
  color: #9A0000;
  text-decoration: underline;
}

a:active, a.active {
  color: #B95B5B;
}

/* header and headline */

#header {
	background:url(../../images/gray/header_bg.gif) repeat-x;
}
#headline {
	background-color:#F1F1F1;
	border-bottom:1px solid #C0C0C0;
}
.logo  {
	background:url(../../images/gray/logo.png) no-repeat;
}
ul.primary-links li  a:hover,
ul.primary-links li   a.active{
	background:url(../../images/gray/menu_hover.png) repeat-x;
}


/* poll */
.poll .bar {
	border:solid 1px #D96666;
	background-color:#ffffff;
}
.poll .bar .foreground {
	background-color:#D96666;
}

/* block */
.block {
	border-color:#A61818 #DEDEDE #DEDEDE;
}

fieldset {
	border:solid #DEDEDE 1px;
}
